.menu-title {
    background: #e8eaef;
    padding-left: 15px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    color: #444d67;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-top-clear {
    margin-top: 70px;
}

.has-error  .form-control {
    border-color: #f7a49e !important;
}