.menu-title {
    background: #e8eaef;
    padding-left: 15px !important;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    color: #444d67;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-top-clear {
    margin-top: 70px;
}

.has-error  .form-control {
    border-color: #f7a49e !important;
}

.table-img-thumbs {
    width: 60px;
}

.custom-btn-sm {
    padding: 0;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* custom scrollbar style */

::-webkit-scrollbar {
    width: 3px;
    display: block;
}

body:hover::-webkit-scrollbar {
    display: block;
}
 
::-webkit-scrollbar-track {    
    width: 100%;
    background: #ffffff;
}
 
::-webkit-scrollbar-thumb {
    width: 100%;
    background: #a0a0a0;
    cursor: pointer;
}

.action-btn-inline {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

.form-group label {
    color: #868686;
}

.form-control {
    color: #424242;
}

.form-control::placeholder {
    color: #d2d2d2;
}